.time-schedule{
    background: #333333;
    color: #fff;
}
.default-color-white{
    color: #fff;
}
.default-color-bg-white{
    background: #fff;
}
.default-color-reddish{
    color: #FE074E;
}
.default-color-grey-color{
    color: #999999;
}
.default-bg-color-reddish{
    background: #FE074E;
}
.footer-social-icon i{
    color: #999999;
}
.footer-social-color a{
    color: #999999;
}
.border-footer{
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
.default-color-grey{
    background: #DDDDDD;
}
.font-size{
    font-size: 10px;
}
.mlb-carousel p{
    margin: 0;
    padding: 2px;
}
.mlb-carousel .time-schedule{
    padding: 6px;
}
.fab{
    color: #000;
}
.fas{
    color: #000;
}
.fab:hover{
    color: #FE074E;
}
.fas:hover{
    color: #FE074E;
}
.nav-link:hover{
    color: #FE074E;
    border-bottom: 1px solid #FE074E;
}
.aside-img-height{
    height: 100px;
}
.circle-img{
    width: 50px;
    border-radius: 100%;
}

@media (max-width: 767px) { 
    .display-media{
        display: none;
    }

}